@import "_themes/" + (hexo-config("base16.theme") || "solarized")
@import "_colorschemes/" + (hexo-config("base16.scheme.color") || "default")
@import "_highlightschemes/" + (hexo-config("base16.scheme.highlight") || "atelier-dark")
@import "_colordefines/init"
