$color-background = lighten($base07, 56%)

$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)

$color-border = $base02
$color-meta = $color-border
$color-meta-code = lighten($color-meta, 10%)

$color-link = desaturate(lighten($base-red, 30%), 31%)
$color-text = darken($base02, 45.4%)

$color-accent-3 = $base04
$color-accent-2 = darken($base02, 45.4%)
$color-accent-1 = saturate(lighten($base-cyan, 9.12%), 8%)
$color-quote = $color-accent-1
