$color-background = lighten($base07, 66.7%)
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = $base07 // darken($color-background, 10%)

$color-background-code = $base07

$color-border = $base03
$color-meta = $color-border
$color-meta-code = lighten($color-meta, 10%)

$color-link = $base-cyan
$color-text = darken($base03, 34.5%)
$color-accent-3 = $base04
$color-accent-2 = darken($base02, 32.7%)
$color-accent-1 = $base-yellow
$color-quote = $color-accent-1
