$color-background = lighten(desaturate($base07, 56%), 50%)
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = desaturate($base07, 56%)

$color-background-code = desaturate($base07, 56%)

$color-border = $base03
$color-meta = $color-border
$color-meta-code = lighten($color-meta, 10%)

$color-link = desaturate($base-cyan, 8%)
$color-text = $base03
$color-accent-3 = saturate($base04, 50%)
$color-accent-2 = lighten($base01, 12.8%)
$color-accent-1 = desaturate($base-yellow, 61%)
$color-quote = $color-accent-1
