$color-background = darken($base00, 50%)
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = $base00 // lighten($color-bcakground, 10%)

$color-background-code = $base00

$color-border = $base04
$color-meta = $color-border
$color-meta-code = lighten($color-meta, 10%)

$color-link = lighten($base-yellow, 12.8%)
$color-text = lighten($base05, 39%)
$color-accent-3 = $base03
$color-accent-2 = lighten($base04, 5.6%)
$color-accent-1 = saturate($base-blue + 41.6%, 42.5%)
$color-quote = $color-accent-1

$color-passerby = $base07
